In [6]:
print("helloworld")

helloworld

In [1]:
print(1+5);print(3)

6
3

In [3]:
print(2*4)

8

In [4]:
print(2/3)

0.6666666666666666

In [5]:
print(6/3)

2.0

# exponent calculation

In [6]:
print(2**4)

16

In [7]:
print "hello"#python 3 permits mandatory use of parenthesis(came out 2008) this was valid in python 2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2253489653.py, line 1)

In [9]:
#use of semicolon in python is not illegal but it does not work 
print()# automatically control goes to next line so to print new line this can be used

In [7]:
(14**2)

196

In [13]:
var_assign=3+5
print(var_assign)

8

# Functions

In [5]:
def add(var):                                         def add(var):
    sum=var+3;#local                                      sum=var+3
    print(sum)#locally print                               print(sum)
    return sum#returning local value
result=add(32)#global
result_1=result+10#global
print(result)#global
print(" ")

35
35

In [14]:
#you can define function with no arguments and return statement
def void():
    print("hello Vanshika sharma");print("bye")
void()

hello Vanshika sharma
bye

# Data types

In [18]:
x=2
print(x)
print(type(x))

2
<class 'int'>

In [16]:
x=3.12
print(x)
print(type(x))

3.12
<class 'float'>

In [20]:
x=22/7
print(x)
print(type(x))

3.142857142857143
<class 'float'>

In [22]:
round(x,6) #bankers rounding

3.142857

In [30]:
var=False
print(var)
print(type(var))

False
<class 'bool'>

In [7]:
var1=(1!=2)
print(var1)
print(type(var1))
type(var1)

True
<class 'bool'>

bool

In [11]:
var = not var1
print(var)
print(var1)

False
True

In [24]:
string="Hellouser123!!"
print(string)
type(string)
print(len(string))
print(type(string))

Hellouser123!!
14
<class 'str'>

# Empty string

In [12]:
empty_string=" "# counting space as a character
print(empty_string)
print(type(empty_string))
print(len(empty_string))
empty_string1=""
print(empty_string1)
type(empty_string1)
print(len(empty_string1))

<class 'str'>
1

0

# number string

In [26]:
number_string="1.37848383"
print(number_string)
print(type(number_string))

1.37848383
<class 'str'>

In [27]:
float(number_string)

1.37848383

In [56]:
num=7
print(float(num))

7.0

In [28]:
print(float(3234))

3234.0

In [66]:
a=(float(3))
print(type(a))

<class 'float'>

In [30]:
print(float("hello"))#only compatible string can be converted to float

ValueError: could not convert string to float: 'hello'

In [15]:
string="abc" + " xcv"#concatenation
print(string)
print(type(string))
print(len(string))

abc xcv
<class 'str'>
7

In [18]:
string="abc" * 3
print(string)
print(type(string))
print(len(string))

abcabcabc
<class 'str'>
9

# Conditions and conditional statements

In [73]:
print(1!=2)

True

In [35]:
var1=7
var2=6
print(var2>=var1)

False

In [21]:
temp=40
if (temp<=40):
    print("normal temperature")
else:
    print("high temperature")

normal temperature

In [22]:
temp=60
if (temp<50):
    print("low temperature")
elif temp==50:
    print("average temperature")
else:
    print("high temperature")

high temperature

# Lists

In [20]:
names=["hello","bye",""]
print(type(names))
print(len(names))
print(names)
print(names,'\n') 
print(*names,'\n')
print(*names,sep='\n')

<class 'list'>
3
['hello', 'bye', '']
['hello', 'bye', '']

hello bye

hello
bye

In [22]:
flowers_name=["daisy","petunia","marigold","lily","rose","penzy"]
print(type(flowers_name))
print(len(flowers_name))
print("First name:" ,flowers_name[0] ,"\nSecond name:",flowers_name[1],"\nlast name:",flowers_name[-2])

<class 'list'>
6
First name: daisy
Second name: petunia
last name: rose

In [23]:
names = ["Alice", "Bob", "Charlie", "David"]
print(*names, '\n', sep='\n')

Alice
Bob
Charlie
David

# Slicing

In [72]:
flowers_name=["daisy","petunia","marigold","lily","rose","penzy"]
print("first_three:",flowers_name[:3])#list indices must be int or slice not tupple
print("last_two_remove:",flowers_name[:-2])
print("last_two:",flowers_name[-2:])

first_three: ['daisy', 'petunia', 'marigold']
last_two_remove: ['daisy', 'petunia', 'marigold', 'lily']
last_two: ['rose', 'penzy']

# Remove

In [57]:
flowers_name.remove("lily")
print(flowers_name)

['daisy', 'petunia', 'marigold', 'rose', 'penzy']

# Append

In [69]:
#using .append("x")

In [1]:
#list items can be anything thing from any data type string boolean integer float etc
#max and min can be calculated and sum

In [74]:
color=["red","blue","green","yellow","gray"]
print(type(color))
print(*color,sep='\n')
print(len(color))
color.remove("gray")
print(color)
print(color[-3:])
color.append("black")
print(color)

<class 'list'>
red
blue
green
yellow
gray
5
['red', 'blue', 'green', 'yellow']
['blue', 'green', 'yellow']
None
['red', 'blue', 'green', 'yellow', 'black']

# Certain functions

In [15]:
min(1,23,4)

1

In [16]:
max(3,5,16)

16

In [75]:
abs(45)
abs(-78)

78

In [76]:
print(float(2))
print(int(223.4))
print(float("2.4")-1)

2.0
223
1.4

In [25]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [26]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [27]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [30]:
print(1,2,3 ,sep="<")

1<2<3

In [80]:
print(1,2,3)

1 2 3

# List and List within list

In [34]:
number=[1,2,3,4]
print(number)
print(type(number))

[1, 2, 3, 4]
<class 'list'>

In [2]:
name=['ayush',"vanshika","1",'2',8,'aashi']
print(name)
print(type(name))

['ayush', 'vanshika', '1', '2', 8, 'aashi']
<class 'list'>

In [5]:
hello=[
    ["aashi",1,'vanshika'],
    ["vanshika",'a',"a",3],
    [1,4,5,6]
]
print(*hello,sep='\n')
print(type(list))

['aashi', 1, 'vanshika']
['vanshika', 'a', 'a', 3]
[1, 4, 5, 6]
<class 'type'>

In [93]:
#slicing
fruits=["banana","litchi",'orange','mango','strawberry']
print(fruits[0:3])
print(fruits[1-2:])
print(fruits[0:-2])

['banana', 'litchi', 'orange']
['strawberry']
['banana', 'litchi', 'orange']

In [87]:
print(fruits[:4])# indices are optional leaving out the first index means it will be assumed as zero

['banana', 'litchi', 'orange', 'mango']

In [88]:
print(fruits[1:4])

['litchi', 'orange', 'mango']

In [8]:
print(fruits[1:-1])

['litchi', 'orange', 'mango']

In [15]:
print(fruits[-3:])

['orange', 'mango', 'strawberry']

In [16]:
#list are mutable that means it can be modified via indexing and slice

In [17]:
fruits[2]="kiwi"
print(fruits)

['banana', 'litchi', 'kiwi', 'mango', 'strawberry']

In [94]:
fruits[:3]=["ba","li","or"]
print(fruits)

['ba', 'li', 'or', 'mango', 'strawberry']

#  list functions

In [20]:
len(fruits)

5

In [4]:
random=[1,1.32,False]
sorted(random)#sorts in alpabetical order

[False, 1, 1.32]

In [1]:
numbers=[1,4,5,9]
sum(numbers)

19

In [7]:
str=["hello","bye"]
sum(str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
min(1,2,3,4)

1

In [10]:
min(numbers)

1

In [11]:
min(mix)

TypeError: '<' not supported between instances of 'int' and 'str'

In [12]:
max(numbers)

9

In [6]:
numbers=10
length=numbers.bit_length()
print(length)bit_length

4

 # list methods

In [8]:
salutation=["hello","hi","namaste","vanakkam"]
print(type(salutation))
print(len(salutation))

<class 'list'>
4

In [12]:
salutation.append("hola")
print(salutation)

['hello', 'hi', 'namaste', 'vanakkam', 'hola', 'hola', 'hola', 'hola']

In [103]:
list.pop()

'hola'

In [6]:
list.index("namaste")

2

In [7]:
"satshriakal" in list

False

In [8]:
"hi" in list

True

In [9]:
"salaam" in list

False

# tuple

In [105]:
tuple=(1,2,3)
print(tuple)

(1, 2, 3)

In [106]:
tuple_1=1,2,3
print(tuple_1)

(1, 2, 3)

In [108]:
x=1.5
x.as_integer_ratio()

(3, 2)

In [8]:
a=1.5
num,deno=a.as_integer_ratio()
print(num)
print(deno)
print(num/deno)

3
2
1.5

In [110]:
#swapping

In [1]:
a=1
b=2
a,b=b,a
print(a,b)

2 1

# loops and llist comprehensions

In [16]:
fruits=["mango","strawberry","kiwi","cherry"]
for fruit in fruits:
    print(fruit)
tuples=("1","2","3","4")
for tuple in tuples:
    print(tuple)
print(type(tuples))
print(tuples)

mango
strawberry
kiwi
cherry
1
2
3
4
<class 'tuple'>
('1', '2', '3', '4')

In [15]:
planets=["mercury","venus","mars","jupiter"]
for planet in planets:
    print(planet,"\n")

mercury

venus

mars

jupiter

In [28]:
planets=["mercury","venus","mars","jupiter"]
for planet in planets:
    print(planet,end=' ')

mercury venus mars jupiter

In [6]:
numbers=(1,2,3,4,5)
for number in numbers:
    product=number*2
    print(product,end=" ")
print()
print("result:",product)

2 4 6 8 10
result: 10

In [31]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'

# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end="")

HELLO

In [35]:
s="Vanshika SHARMA"
for string in s:
    if string.isupper():
        print(string,end="")

VSHARMA

In [33]:
#range()(for loop)

In [34]:
for i in range(4):
    print("hello")

hello
hello
hello
hello

In [35]:
#while

In [42]:
x=1
while(x<10):
    print("hello",x)
    x+=1

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [36]:
squares=[n**2 for n in range(10)]
(squares)
#print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
#without list comprehension

In [52]:
squares=[]
for i in range(10):
    squares.append(i**2)
    print(squares)
squares

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['venus', 'mars']

In [59]:
short_planet=[planet.upper() + "!" for planet in planets if(len(planet)<5)]
print(short_planet)

['MARS!']

In [62]:
short_planet=[]
for planet in planets:
    if len(planet)<5:
        short_planet.append(planet.upper()+"!")
short_planet

['MARS!']

# Strings

In [63]:
#escape sequences

In [10]:
print('hello\'s')

hello's

In [66]:
print("hello\"s")

hello"s

In [67]:
print("hell\no")

hell
o

In [68]:
print("hi\\bye")

hi\bye

In [11]:
triplequoted_hello ="""hello world bye
my name 
is
hello
hi 
bye
hudshi jdjid jdidjd
vanshika sharma
"""
print(triplequoted_hello)

hello world bye
my name
is
hello
hi
bye
hudshi jdjid jdidjd
vanshika sharma

In [12]:
#string methods

In [70]:
str="hell'o my name is Vanshika SHARMA"

In [71]:
display(str.upper())

"HELL'O MY NAME IS VANSHIKA SHARMA"

In [72]:
str.lower()

"hell'o my name is vanshika sharma"

In [73]:
str.index('\'o')

4

In [74]:
str.startswith("H")#since starts with h

False

In [75]:
str.startswith("h")

True

In [76]:
str.endswith("A")

True

In [77]:
str.split()#default split on encountering whitespace

["hell'o", 'my', 'name', 'is', 'Vanshika', 'SHARMA']

In [78]:
str_1="05-07-2023"
date,month,year=str_1.split("-")#split on the basis of -
print("date:",date,"\nmonth:",month,"\nyear:",year)

date: 05
month: 07
year: 2023

In [79]:
# "/".join(month,date,year)
"/".join((month,date,year))

'07/05/2023'

In [80]:
"/".join(['month','date','year'])#list of strings

'month/date/year'

In [81]:
"/".join([date,month,year])#lis tof strings

'05/07/2023'

In [82]:
"😍".join([strs.upper() for strs in str ])

"H😍E😍L😍L😍'😍O😍 😍M😍Y😍 😍N😍A😍M😍E😍 😍I😍S😍 😍V😍A😍N😍S😍H😍I😍K😍A😍 😍S😍H😍A😍R😍M😍A"

In [83]:
list=["hi","bye","hola"]
"😍".join(lists.upper() for lists in list)

'HI😍BYE😍HOLA'

In [86]:
x=10
a=True
b="hello"
print(a + x)
print(a+str(b))

11

TypeError: 'str' object is not callable

In [87]:
b = "Hello, "
x = 42

print(b + str(x))

TypeError: 'str' object is not callable

In [63]:
" {} a".format(x)

' 10 a'

# Dictionaries

In [89]:
roll_no={"vanshika":1,'aashi':2,'vanshu':3}
type(roll_no)
# x={1,2,3}
# y={"2","hello","hi",2}
# type(x)
# type(y)

dict

In [37]:
print(roll_no)

{'vanshika': 1, 'aashi': 2, 'vanshu': 3}

In [40]:
print(roll_no['vanshika'])#via key we can print it's value

1

In [13]:
roll_no['1']

KeyError: '1'

In [42]:
roll_no["hi"]=4#adding new key value pair

In [43]:
roll_no

{'vanshika': 1, 'aashi': 2, 'vanshu': 3, 'hi': 4}

In [44]:
roll_no["4"]='hi'#inter change of  existing key and value

In [45]:
roll_no

{'vanshika': 1, 'aashi': 2, 'vanshu': 3, 'hi': 4, '4': 'hi'}

In [18]:
roll_no['vanshika']=51
roll_no

{'vanshika': 51, 'aashi': 2, 'vanshu': 3, 'hi': 4, 4: 'hi'}

In [19]:
#dictionary comprehension

In [52]:
str=['hello','hola','namaste','hi']
str_r={strr: strr[0] for strr in str}
print(str_r)
type(str)
type(str_r)

{'hello': 'h', 'hola': 'h', 'namaste': 'n', 'hi': 'h'}

dict

In [53]:
'vanshika' in roll_no#this only checks for key in dictionary

True

In [54]:
'51' in roll_no

False

In [55]:
#loop over key value pair

In [56]:
for i in roll_no:
    print("{} : {}".format(i,roll_no[i]))

vanshika : 1
aashi : 2
vanshu : 3
hi : 4
4 : hi

In [94]:
for key, value in roll_no.items():
    print("{} : \"{}\"".format(key.rjust(7,"c"),value))

vanshika : "1"
ccaashi : "2"
cvanshu : "3"

# Working with External Libraries

In [97]:
import math
print("It's a math library!.It has type {}".format(type(math)))

It's a math library!.It has type <class 'module'>

In [79]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [80]:
print("value of pi to three significant places {:.3}".format(math.pi))

value of pi to three significant places 3.14

In [81]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [82]:
math.log(10)

2.302585092994046

In [83]:
math.log(10,10)

1.0

In [84]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [85]:
help(math.pi)

Help on float object:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  __set_format__(typestr, fmt, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |        fmt
 |          Must be one of 'unknown', 'IEEE, big-endian' or 'IEEE, little-endian',
 |          and in addition can only be one of the latter two if it appears to
 |          match the underlying C reality.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      Override the automatic determination of C-level floating point type.
 |      This affects how floats are converted to and from binary strings.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [86]:
#alias name for accessing module from standard library

In [87]:
# import math as mt

In [88]:
mt.pi

3.141592653589793

In [89]:
mt.log

In [90]:
math.log

In [91]:
from math import *
print(log(10))

2.302585092994046

In [93]:
from math import log,pi
from numpy import asarray

In [94]:
#submodule

In [98]:
import numpy as np
rolls=np.random.randint(low=1,high=6,size=10)
print(rolls)

[3 5 2 1 1 4 5 3 2 5]

In [99]:
type(rolls)

numpy.ndarray

In [100]:
print(dir(rolls))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__class_getitem__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__dlpack__', '__dlpack_device__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [102]:
rolls.mean()

3.1

In [104]:
rolls.tolist()

[3, 5, 2, 1, 1, 4, 5, 3, 2, 5]

In [105]:
rolls.ravel()

array([3, 5, 2, 1, 1, 4, 5, 3, 2, 5])

In [106]:
rolls +10

array([13, 15, 12, 11, 11, 14, 15, 13, 12, 15])

In [107]:
rolls<=3

array([ True, False,  True,  True,  True, False, False,  True,  True,
       False])

# Data Exploration

In [2]:
import pandas as pd#data exploration and manipulating
from sklearn.metrics import mean_absolute_error

In [4]:
data='melb_data.csv'#csv fed into data var

In [5]:
df=pd.read_csv(data)#data is stored in data frame

In [6]:
df.describe()# returns descriptive statistics of data in data frame

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [7]:
df.columns# returns column of all data frame

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
df=df.dropna(axis=0)# remove missing values from rows/drop rows with missing values

In [8]:
y=read_data['Price']# prediction target stored in series(dependent variable)

In [9]:
features=['Rooms','Bathroom','Landsize','Lattitude','Longtitude']#(independent variable)
X=read_data[features]

In [10]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [11]:
X.head(n=5)

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [12]:
from sklearn.tree import DecisionTreeRegressor

In [13]:
model=DecisionTreeRegressor()#random_state

In [14]:
model.fit(X,y)

DecisionTreeRegressor()

In [15]:
print(X.head)

<bound method NDFrame.head of        Rooms  Bathroom  Landsize  Lattitude  Longtitude
1          2       1.0     156.0  -37.80790   144.99340
2          3       2.0     134.0  -37.80930   144.99440
4          4       1.0     120.0  -37.80720   144.99410
6          3       2.0     245.0  -37.80240   144.99930
7          2       1.0     256.0  -37.80600   144.99540
...      ...       ...       ...        ...         ...
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389

[6196 rows x 5 columns]>

In [50]:
predict_value=model.predict(X)
mean_absolute_error(y,predict_value)

1115.7467183128902

# Model Validation

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
train_X,test_X,train_y,test_y=train_test_split(X,y,random_state=0)

In [43]:
model_new=DecisionTreeRegressor()

In [44]:
model_new.fit(train_X,train_y)

DecisionTreeRegressor()

In [45]:
predicted_value=model_new.predict(test_X)

In [46]:
mean_absolute_error(test_y,predicted_value)

274616.8979987088

In [51]:
def get_mae(max_leaf_nodes,train_X,test_X,train_y,test_y):
    model_new=DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,random_state=0)
    model_new.fit(train_X,train_y)
    predicted_value=model_new.predict(test_X)
    mae=mean_absolute_error(test_y,predicted_value)
    return(mae)

In [59]:
for max_leaf_nodes in [5,50,500,5000,50000]:
    my_mae=get_mae(max_leaf_nodes,train_X,test_X,train_y,test_y)
    print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes,my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 385696
Max leaf nodes: 50 		 Mean Absolute Error: 279794
Max leaf nodes: 500 		 Mean Absolute Error: 261718
Max leaf nodes: 5000 		 Mean Absolute Error: 271320
Max leaf nodes: 50000 		 Mean Absolute Error: 271320

# Random Forest

In [60]:
#building a random forest model

In [68]:
from sklearn.ensemble import RandomForestRegressor
forest_model=RandomForestRegressor(random_state=1)

In [69]:
forest_model.fit(train_X,train_y)

RandomForestRegressor(random_state=1)

In [70]:
pvalue=forest_model.predict(test_X)

In [72]:
print(mean_absolute_error(test_y,pvalue))

207190.6873773146